td{
text-align:center;
vertical-align:middle;
}

th{
text-align:center;
}

img{
width:100px;
}

.paymentMethods{
  width: 90%;
  margin-top:150px;
  margin-left:100px;
  margin-right:100px;
  position: absolute;
}